.DS_Store
.bash_history
.profile

Homestead.json
Homestead.yaml
composer.phar

/vendor
/dist
/node_modules
*.env
*.sql
*.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
